include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		include ../common/1home
		include ../common/2pre
		include ../common/3kviz
		include ../common/4by
		include ../common/5do
		include ../common/6what
		include ../common/7prod
		include ../common/8how
		include ../common/9why
		include ../common/10price
		include ../common/11services
		include ../common/12contact
		include ../common/modal

		include ../common/footer
	// END body///////???