include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KB62ZTH" 		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		include ../common/1home
		include ../common/2pre
		include ../common/3kviz
		include ../common/4by
		include ../common/5do
		include ../common/6what
		include ../common/7prod
		include ../common/8how
		include ../common/9why
		include ../common/10price
		include ../common/11services
		include ../common/12contact
		include ../common/modal

		include ../common/footer
	// END body///////???