.services {
    padding: 68px 0 160px;
    background: #f2f2f2;
    @media screen and (max-width: 1239px) {
        padding: 50px 0 70px;
    }
    .title {
        font-weight: 200;
        margin-bottom: 20px;
    }
    &__pre {
        text-align: center;
        max-width: 230px;
        margin: 0 auto;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        margin-top: -20px;
        @media screen and (max-width: 1239px) {
            margin-top: 0;
        }
    }
    &__block {
        width: 50%;
        &:nth-child(1){
            @media screen and (max-width: 1239px) {
                width: 43%;
            }
        }
        &:nth-child(2){
            padding-left: 5%;
            @media screen and (max-width: 1239px) {
                padding-left: 0;
            }
        }
    }
    &__pic {
        min-height: 302px;
        display: flex;
        img {
            margin: auto;
            @media screen and (max-width: 1400px) {
                max-width: 100%;
            }
        }
        &--ua {
            margin-left: -50px;
            @media screen and (max-width: 1400px) {
                margin-left: 0;
            }
        }
    }
    &__title {
        font-size: 18px;
        line-height: 27px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    &__lists {
        margin-bottom: 39px;
    }
    &__list {
        position: relative;
        padding-left: 20px;
        margin-bottom: 6px;
        &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #181630;
            opacity: 0.34;

        }
    }
    &__bottom {
        display: flex;
        flex-wrap: wrap;
        margin-top: auto;
        padding-top: 47px;
        border-top: 1px solid #aeaeae;
    }
    &__item {
        display: flex;
        width: 50%;
        margin-bottom: 21px;
        &--full {
            display: flex;
            max-width: 400px;
            .services__desc {
                font-size: 18px;
            }
        }
    }
    &__price {
        font-size: 18px;
        font-weight: 700;
        margin-right: 10px;
    }
    &__desc {
        font-weight: 200;
        span {
            font-size: 14px;
            display: block;
            padding-left: 13px;
            margin-top: 10px;
        }
    }
}