.kviz {
    position: relative;
    background: #f8f8f8;
    overflow: hidden;
    padding-top: 115px;
    padding-bottom: 128px;
    @media screen and (max-width: 979px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @media screen and (max-width: 579px) {
        padding: 40px 0;
    }
    .wrap {
        max-width: 1410px;
    }
    &__title {
        max-width: 681px;
        margin: 0 auto 89px;
        font-size: 30px;
        line-height: 40px;
        font-weight: 200;
        text-align: center;
        @media screen and (max-width: 579px) {
            font-size: 21px;
            line-height: 31px;
            margin-bottom: 40px;
        }
    }

    &-qa {
        background: #fff;
        // width: 80%;
        // @media screen and (max-width: 820px) {
        //     width: 100%;
        // }
    }
    &-progress {
        flex-grow: 1;
        margin-right: 30px;
        max-width: 488px;
        margin-right: auto;
        padding-right: 5px;
        @media screen and (max-width: 560px) {
            padding-right: 0;
            margin-bottom: 20px;
        }
        &__steps {
            display: flex;
            border-radius: 10px;
            overflow: hidden;
        }
        &__item {
            flex-grow: 1;
            margin-top: 5px;
            height: 8px;
            background: #f5f6f7;
            &.active {
                background: $accent;
            }
        }
        &__title {
            font-size: 18px;
            line-height: 40px;
        }

    }

    &__ans {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 220px;
        @media screen and (max-width: 1365px) {
            margin-bottom: 120px;
        }
        @media screen and (max-width: 979px) {
            margin-bottom: 50px;
        }
        @media screen and (max-width: 540px) {
            margin-bottom: 50px;
        }
    }
    .btn-prev {
        margin-right: 23px;
    }
    &__error {
        position: absolute;
        top: -40px;
        color: $accent;
        font-size: 13px;
        font-weight: 700;
        @media screen and (max-width: 540px) {
            top: -90px;
        }
    }
    .form-line {
        display: flex;
        input {
            border-color: #262626;
            &::placeholder {
                color: rgba(38, 38, 38, 0.5);
            }
        }
    }
    .agree-line {
        color: #262626;
        label:before {
            background: $accent;
        }
        input:checked+label:after {
            border-color: #fff;
        }
    }
}
.step {
    &-slide {
        display: none;
        position: relative;
        &--active {
            display: flex;
        }
        @media screen and (max-width: 979px) {
            flex-wrap: wrap;
        }
        &:nth-child(4) {
            .pick-item {
                width: 30%;
                margin-right: 3%;
                @media screen and (max-width: 979px) {
                    width: 47%;
                }
                @media screen and (max-width: 579px) {
                    width: 100%;
                }
            }
            .step__body {
                width: 100%;
            }
          
        }
        &__title {
            font-size: 30px;
            line-height: 40px;
            font-weight: 800;
            margin-bottom: 73px;

            @media screen and (max-width: 1239px) {
                font-size: 25px;
                line-height: 1.2;
            }
            @media screen and (max-width: 579px) {
                margin-bottom: 30px;
            }
        }
        &__bottom {
            display: flex;
            max-width: 700px;
            @media screen and (max-width: 579px) {
                display: block;
            }
        }
        &--finish {
            background: url('../img/qa-finish.jpg') no-repeat;
            background-position: right bottom;
            @media screen and (max-width: 979px) {
                background-size: contain;
            }
            .step-slide__title {
                margin-bottom: 38px;
                color: $accent;
                @media screen and (max-width: 579px) {
                    text-align: center;
                }
            }
            .step-slide__form {
                width: 100%;
            }
            .step__body {
                width: 69%;
                padding: 82px 40px 110px 87px;
                @media screen and (max-width: 979px) {
                    width: 100%;
                    padding: 40px 40px 110px;
                }
                @media screen and (max-width: 579px) {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
            .step__body p {
                margin-bottom: 87px;
                @media screen and (max-width: 579px) {
                    margin-bottom: 30px;
                }
            }
            .agree-line {
                margin-top: -10px;
            }
            .form-line {
                justify-content: space-between;
                @media screen and (max-width: 579px) {
                    flex-wrap: wrap;
                }
                input {
                    @media screen and (max-width: 579px) {
                        padding-left: 78px;
                    }
                }
            }
            .form-line label {
                width: 46%;
                @media screen and (max-width: 579px) {
                    width: 100%;
                }
            }
        }
        p {
            margin: 0 0 17px 0;
            font-size: 16px;
            line-height: 24px;
            color: #7e7e7e;
        }
        &__form {
            @media screen and (max-width: 820px) {
                margin: auto;
            }
            .btn {
                margin-top: 86px;
            }
        }
    }
    &__body {
        padding: 82px 40px 40px 87px;
        @media screen and (max-width: 1365px) {
            width: 75%;
        }
        @media screen and (max-width: 979px) {
            width: 100%;
            padding: 40px;
        }
        @media screen and (max-width: 579px) {
            padding: 20px;
        }
    }
    &__sidebar {
        @media screen and (max-width: 1365px) {
            width: 25%;
            img {
                max-width: 100%;
            }
        }
        @media screen and (max-width: 979px) {
            width: 40%;
            margin: 0 auto 30px;
        }
        @media screen and (max-width: 579px) {
            display: none;
        }
    }
}
.pick-item {
    min-width: 75px;
    display: block;
    margin: 0 0 28px;
    cursor: pointer;
    width: 44%;
    background: #fff;
    margin-right: 5%;
    @media screen and (max-width: 579px) {
        width: 100%;
        margin-bottom: 10px;
    }
    &__input {
        display: none;
        width: 185px;
        height: 55px;
        background-color: #efefef;
        border-radius: 5px;
        padding: 15px;
        font-size: 22px;
        margin-right: 10px;
        &[type="radio"]:checked + .pick-item__label:before,
        &[type="checkbox"]:checked + .pick-item__label:before {
            border-color: $accent;
            background: $accent;
            z-index: -1;
        }
        &[type="radio"]:checked + .pick-item__label:after,
        &[type="checkbox"]:checked + .pick-item__label:after {
            content: "";
            position: absolute;
            left: 33px;
            width: 12px;
            height: 6px;
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            top: 46%;
            transform: translate(0,-50%) rotate(-45deg);
            @media screen and (max-width: 979px) {
                left: 29px;
                top: 42%;
            }
            @media screen and (max-width: 579px) {
                top: 50%;
                left: 13px;
            }
        
        }
        &[type="text"], &[type="number"] {
            display: block;
            border: 2px solid #f5f6f7;
            background: transparent;
            font-size: 16px;
            line-height: 18px;
            padding: 43px 20px;
            width: 100%;
            max-width: 520px;
            &::placeholder {
                text-align: center;
            }
        }
    }
    &__label {
        font-size: 18px;
        line-height: 24px;
        position: relative;
        padding: 10px 10px 10px 63px;
        font-weight: 500;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #e8e8e8;
        z-index: 1;
        border-radius: 6px;

        @media screen and (max-width: 1239px) {
            font-size: 15px;
            line-height: 1.2;
        }
        @media screen and (max-width: 979px) {
            height: 90px;
        }
        @media screen and (max-width: 580px) {
            height: auto;
            padding-left: 40px;
        }
        &:before {
            content: "";
            display: block;
            width: 23px;
            height: 23px;
            border: 2px solid #f8f8f8;
            background: #f8f8f8;
            position: absolute;
            top: 25px;
            left: 28px;
            transition: 0.3s;
            @media screen and (max-width: 979px) {
                left: 22px;
            }
            @media screen and (max-width: 579px) {
                top: 50%;
                transform: translate(0, -50%);
                left: 6px;
            }
        }
        &:hover:before {
            border-color: $accent;
        }

    }
}
.question__ans--radio {
    .pick-item__label:before {
        border-radius: 2px;
    }
}
.question__ans--checkbox {
    .pick-item__label:before {
        border-radius: 2px;
    }
}
.prev-next-container {
    position: relative;
    display: flex;
    .btn {
        min-width: 182px;
    }
    @media screen and (max-width: 580px) {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        .btn {
            font-size: 14px;
            line-height: 27px;
        }
    }
}
.question__connect {
    font-size: 18px;
    padding: 31px;
    width: 100%;
}
