.what {
    padding: 140px 0 130px;
    background: url('../img/what-bg.jpg') no-repeat;
    background-position: left bottom;
    background-size: cover;
    color: #ffffff;
    @media screen and (max-width: 579px) {
        padding: 40px 0;
    }
    .wrap {
        max-width: 1290px;
    }
    &__body {
        display: flex;
        @media screen and (max-width: 979px) {
            flex-wrap: wrap;
        }
    }
    &__block {
        width: 31%;
        padding: 72px 5% 10px 2%;
        @media screen and (max-width: 979px) {
            width: 100%;
            margin-bottom: 30px;
            padding-top: 0;
        }

    }
    &__title {
        margin-top: 41px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        width: 69%;
        @media screen and (max-width: 979px) {
            width: 100%;
        }
    }
    &__item {
        width: 29%;
        position: relative;
        background: #32323f;
        padding: 43px 14px 43px 43px;
        margin: 2% 2%;
        @media screen and (max-width: 1239px) {
            width: 46%;
        }
        @media screen and (max-width: 579px) {
            width: 100%;
            padding: 30px 20px;
            margin: 10px 0;
        }
    }
    &__num {
        position: absolute;
        top: 20px;
        right: 20px;
        opacity: 0.2;
    }
    &__icon {
        width: 72px;
        margin-bottom: 14px;
        svg {
            max-width: 100%;
        }
        @media screen and (max-width: 579px) {
            width: 55px;
        }
    }
}