.how {
    background: #f2f2f2;
    padding: 141px 0 157px;
    @media screen and (max-width: 1239px) {
        padding: 70px 0 90px;
    }
    @media screen and (max-width: 579px) {
        padding: 40px 0;
    }
    &__items {
        display: flex;
        margin-top: 100px;
        padding-bottom: 120px;
        @media screen and (max-width: 979px) {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 50px;
            padding-bottom: 40px;
        }
        @media screen and (max-width: 579px) {
            margin-top: 30px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: cover;
        color: #f2f2f2;
        padding: 30px 30px 45px 38px;
        min-height: 263px;
        flex-grow: 1;
        flex-basis: 0;
        border-radius: 6px;
        @media screen and (max-width: 979px) {
            flex-grow: unset;
            flex-basis: unset;
            width: 46%;
            width: calc(50% - 30px);
            margin-bottom: 30px;
            padding: 5%;
        }
        @media screen and (max-width: 579px) {
            width: 100%;
            min-height: 160px;
        }
        &:nth-child(1) {
            background-image: url('../img/how1.jpg');
        }
        &:nth-child(2) {
            background-image: url('../img/how2.jpg');
            margin-left: 30px;
            @media screen and (max-width: 579px) {
                margin-left: 0;
            }
        }
        &:nth-child(3) {
            background-image: url('../img/how3.jpg');
            margin-left: 30px;
            @media screen and (max-width: 979px) {
                margin-left: 0;
            }
        }
        &:nth-child(4) {
            margin-left: 30px;
            background-image: url('../img/how4.jpg');
            @media screen and (max-width: 579px) {
                margin-left: 0;
            }
        }

    }
    &__num {
        opacity: 0.6;
        font-size: 40px;
        font-weight: 200;
        line-height: 1;
    }
    &__text {
        margin-top: auto;
        font-weight: 700;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 579px) {
            flex-wrap: wrap;
        }
    }
    &__block {
        width: 46%;
        @media screen and (max-width: 579px) {
            width: 100%;
        }
        &:nth-child(2) {
            padding-left: 2%;
        }
    }
    &__pic {
        min-height: 321px;
        display: flex;
        @media screen and (max-width: 979px) {
            min-height: 245px;
        }
        img {
            margin: auto;
            @media screen and (max-width: 1315px) {
                max-width: 100%;
            }
        }
        &--ua {
            margin-left: -68px;
            @media screen and (max-width: 1315px) {
                margin-left: 0;
            }
        }
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 48px;
        @media screen and (max-width: 579px) {
            text-align: center;
        }
    }
    &__lists {
        li {
            display: flex;
            margin-bottom: 10px;
            span {
                padding-right: 33px;
            }
        }
    }
}