section.price
    .wrap
        .price__body
            .price__block
                .title Готовы выбрать лучший автомобиль для себя или близкого человека?
                p Мы предлагаем удобные варианты сотрудничества
                .price__pic
            .price__services
                .price__header Разовые услуги
                .price__service
                    .price__top
                        .price__title Выезд на осмотр автомобиля
                        .price__sum 800 грн
                    .price__items
                        .price__group
                            .price__item Проверка кузова (ЛК покрытие, оптика, стекла)
                            .price__item Осмотр салона
                            .price__item Компьютерная диагностика
                        .price__group
                            .price__item Техническая проверка
                            .price__item Тест драйв
                            .price__item Заключение специалиста и рекомендации по цене
                .price__service
                    .price__top
                        .price__title Выезд на осмотр и диагностика на СТО
                        .price__sum 1 300 грн
                    .price__items
                        .price__group
                            .price__item Услуги выезда на осмотр
                            .price__item Проверка автомобиля на подъемнике (подвеска, рулевое, тормоза, и пр.)
                        .price__group
                            .price__item Проверка по базам
                            .price__item Торг
                .price__service
                    .price__top
                        .price__title Осмотр, диагностика и регистрация
                        .price__sum 2 100 грн
                    .price__items
                        .price__group
                            .price__item Услуги выезда на осмотр
                            .price__item Диагностика на СТО
                            .price__item Сопровождение при регистрации
                        .price__group
                            .price__item Помощь в дальнейшем обслуживании и эксплуатации автомобиля (телефонные консультации)
                .price__service
                    .price__top
                        .price__title Предпродажная оценка
                        .price__sum 800 грн
                            span +Скидка на подбор авто
                    .price__items
                        .price__group
                            .price__item Проверка кузова (ЛК покрытие, оптика, стекла)
                            .price__item Осмотр салона
                            .price__item Компьютерная диагностика
                        .price__group
                            .price__item Техническая проверка
                            .price__item Тест драйв
                            .price__item Заключение специалиста и рекомендации по цене