section.services
    .wrap
        .title.title--center Комплексные услуги
        .services__pre Каждое действие согласовывается с клиентом!
        .services__body
            .services__block
                .services__pic.services__pic--ua
                    img(src="img/complex-honda-ua.png", alt="honda")
                .services__title Комплексный подбор автомобиля в Украине 
                ul.services__lists
                    li.services__list Помощь в выборе марки, модели, комплектации автомобиля
                    li.services__list Выбор подходящих вариантов автомобилей
                    li.services__list Проверка юридической чистоты
                    li.services__list Выездная проверка специалистом
                    li.services__list Фотоотчет и заключение специалиста
                    li.services__list Проверка на СТО
                    li.services__list Торг
                    li.services__list Сопровождение при регистрации автомобиля
                .services__bottom
                    .services__item
                        .services__price $300
                        .services__desc при бюджете <br> от $7 000 до $12 000  
                    .services__item
                        .services__price $400
                        .services__desc при бюджете <br> от $12 000 до $25 000  
                    .services__item
                        .services__price $500
                        .services__desc при бюджете <br> от $25 000 до $50 000  
                    .services__item
                        .services__price $600
                        .services__desc при бюджете <br> от $50 000 и более
            .services__block
                .services__pic
                    img(src="img/complex-kia-other.png", alt="kia")
                .services__title Подбор и заказ автомобиля из США, Европы или Канады
                ul.services__lists
                    li.services__list Помощь в выборе марки, модели, комплектации автомобиля
                    li.services__list Выбор подходящих вариантов автомобилей
                    li.services__list Проверка по CarFax
                    li.services__list Участие в торгах
                    li.services__list После выигрыша и оплаты лота, сопровождение доставки автомобиля до порта в Одессе
                    li.services__list Выгрузка авто из контейнера по прибытию и таможенная очистка
                    li.services__list Погрузка на эвакуатор и доставка к клиенту
                .services__bottom
                    .services__item--full
                        .services__price $800
                        .services__desc +200$
                            span если необходима помощь при ремонте автомобиля (предоставление СТО, подбор и поиск запчастей и пр.)
