header.home
    .wrap
        .logo-text Авто-Риелтор
        .home__body
            .home__pre Совсем не разбираетесь в автомобилях и боитесь купить “кота в мешке”?
            .home__title Помогаем выбрать б/у авто в Украине или доставить  <span class="desctop-br"><br></span>из США, Европы или Канады
            .home__text Используем свой опыт и ресурсы, чтобы сохранить ваши деньги и нервы приобретая автомобиль.
            .home__btn
                a(href="#consult").btn.scroll-to Получить консультацию

