section.pre
    .wrap
        .pre__items
            .pre__item Возвращаем деньги  в течение 30 дней,  если случаются поломки
            .pre__item Консультируем  по эксплуатации  пожизненно
            .pre__item Учитываем факторы,  о которых многие даже  не задумываются