section.by
    .wrap
        .title Хотите приобрести <br> б/у автомобиль, но боитесь?
        .by__body
            .by__list Вложить в ремонт больше, чем рассчитываете
            .by__list Нарваться на мошенников или перекупов
            .by__list Не увидеть скрытые дефекты, скрученный пробег и т.д.
            .by__list Допустить ошибки  при покупке и оформлении
            .by__list Упустить важные детали  при выборе автомобиля
            .by__list Выбрать не тот автомобиль, который решит ваши задачи
        .title Эти страхи оправданы, потому что <br> вы рискуете самым ценным:
        .by__items
            .by__item
                .by__title Своим временем
                .by__text Потому что придется потратить не один месяц, чтобы выявить все скрытые поломки, дождаться деталей и отремонтировать автомобиль, а то и застрять в судебных тяжбах с “серыми” документами 
            .by__item
                .by__title Деньгами
                .by__text Вы рассчитываете на одну сумму. Но на деле может выяснится, что для ремонта, замены деталей и устранения неисправностей требуется как минимум еще половина от первоначальной стоимости авто
            .by__item
                .by__title Нервами
                .by__text Которые неизбежно пострадают в попытках привести автомобиль в порядок, или вернуть его горе-владельцу
            .by__item
                .by__title Жизнью своей и пассажиров
                .by__text Неисправный, побывавший в ДТП и имеющий другие ключевые и опасные недостатки автомобиль — это ежесекундный риск для каждого, кто в нем находится. 



