section.do
    .wrap
        .title.title--center.title--white При этом вы хотите приобрести автомобиль, чтобы
        .do__items
            .do__item Ездить на авто, которое полностью решает поставленные вами задачи
            .do__item Совершить взвешенную покупку и получить лучший вариант в рамках бюджета
            .do__item Быть уверенным в надежности и безопасности своего автомобиля
            .do__item Получить удовольствие от процесса выбора и избежать стресса и сомнений
