section.what
    .wrap
        .what__body
            .what__block
                .title.title--white Что делать?
                .what__title Выбирайте, приобретайте и эксплуатируйте автомобиль с полной поддержкой от компании Авто-Риелтор
            .what__items
                .what__item
                    .what__num 01
                    .what__icon
                        img(src="img/icons/global.svg", alt="icons")
                    .what__text Помогаем выбрать, проверить и при необходимости доставить автомобиль из другой страны
                .what__item
                    .what__num 02
                    .what__icon
                        img(src="img/icons/stamp.svg", alt="icons")
                    .what__text Делаем полную юридическую проверку документов и истории автомобиля
                .what__item
                    .what__num 03
                    .what__icon
                        img(src="img/icons/handshake.svg", alt="icons")
                    .what__text Сопровождаем при торге, на сделке и при оформлении авто
                .what__item
                    .what__num 04
                    .what__icon
                        img(src="img/icons/technical-support.svg", alt="icons")
                    .what__text Проводим технический аудит автомобилей и осмотр авто из Украины
                .what__item
                    .what__num 05
                    .what__icon
                        img(src="img/icons/tools.svg", alt="icons")
                    .what__text Сопровождаем в процессе ремонта, первичного обслуживания и подбора запчастей и расходников
                .what__item
                    .what__num 06
                    .what__icon
                        img(src="img/icons/questions.svg", alt="icons")
                    .what__text Даем консультации по обслуживанию и эксплуатации на весь срок, пока вы пользуетесь своим автомобилем