section.prod
    .wrap
        .title.title--center Убедитесь сами
        .subtitle Покупая авто с экспертом вы можете подобрать достойный вариант 
        .prod__body.tabs
            ul.tabs__caption
                li.active от $8000
                li от $16000
                li от $21000
            .tabs__content.active 
                .prod__items
                    .prod__item
                        .prod__name KIA Rio
                        .prod__price от $8000
                        .prod__img
                            img(src="img/prod/kiario.jpg", alt="kiario")
                        .prod__har
                            .prod__har-item
                                .prod__title Объем  двигателя
                                .prod__text 1.4
                            .prod__har-item
                                .prod__title Коробка  передач
                                .prod__text Автомат
                            .prod__har-item
                                .prod__title Вид  топлива
                                .prod__text Бензин
                    .prod__item
                        .prod__name Hyundai i30
                        .prod__price от $12000
                        .prod__img
                            img(src="img/prod/hyundai.png", alt="hyundai")
                        .prod__har
                            .prod__har-item
                                .prod__title Объем  двигателя
                                .prod__text 1.6
                            .prod__har-item
                                .prod__title Коробка  передач
                                .prod__text Автомат
                            .prod__har-item
                                .prod__title Вид  топлива
                                .prod__text Бензин
                    .prod__item
                        .prod__name Mazda 3
                        .prod__price от $14000
                        .prod__img
                            img(src="img/prod/mazda3.jpg", alt="mazda3")
                        .prod__har
                            .prod__har-item
                                .prod__title Объем  двигателя
                                .prod__text 1.5
                            .prod__har-item
                                .prod__title Коробка  передач
                                .prod__text Автомат
                            .prod__har-item
                                .prod__title Вид  топлива
                                .prod__text Бензин
            .tabs__content
                .prod__items
                    .prod__item
                        .prod__name Volkswagen Golf 7
                        .prod__price от $16000
                        .prod__img
                            img(src="img/prod/volkswagengolf7.jpg", alt="volkswagengolf7")
                        .prod__har
                            .prod__har-item
                                .prod__title Объем  двигателя
                                .prod__text 2.0
                            .prod__har-item
                                .prod__title Коробка  передач
                                .prod__text Автомат
                            .prod__har-item
                                .prod__title Вид  топлива
                                .prod__text Дизель
                    .prod__item
                        .prod__name KIA Sportage
                        .prod__price от $16500
                        .prod__img
                            img(src="img/prod/kiasportage.jpg", alt="kiasportage")
                        .prod__har
                            .prod__har-item
                                .prod__title Объем  двигателя
                                .prod__text 2.0
                            .prod__har-item
                                .prod__title Коробка  передач
                                .prod__text Автомат
                            .prod__har-item
                                .prod__title Вид  топлива
                                .prod__text Дизель
                    .prod__item
                        .prod__name Mazda 6
                        .prod__price от $17000
                        .prod__img
                            img(src="img/prod/mazda6.jpg", alt="mazda6")
                        .prod__har
                            .prod__har-item
                                .prod__title Объем  двигателя
                                .prod__text 2.5
                            .prod__har-item
                                .prod__title Коробка  передач
                                .prod__text Автомат
                            .prod__har-item
                                .prod__title Вид  топлива
                                .prod__text Бензин
            .tabs__content
                .prod__items
                    .prod__item
                        .prod__name Nissan X-trail
                        .prod__price от $21000
                        .prod__img
                            img(src="img/prod/nissanxtrail.jpg", alt="nissanxtrail")
                        .prod__har
                            .prod__har-item
                                .prod__title Объем  двигателя
                                .prod__text 2.5
                            .prod__har-item
                                .prod__title Коробка  передач
                                .prod__text Автомат
                            .prod__har-item
                                .prod__title Вид  топлива
                                .prod__text Бензин
                    .prod__item
                        .prod__name BMW 530D
                        .prod__price от $30000
                        .prod__img
                            img(src="img/prod/bmw530d.jpg", alt="bmw530d")
                        .prod__har
                            .prod__har-item
                                .prod__title Объем  двигателя
                                .prod__text 3.0
                            .prod__har-item
                                .prod__title Коробка  передач
                                .prod__text Автомат
                            .prod__har-item
                                .prod__title Вид  топлива
                                .prod__text Дизель 
                    .prod__item
                        .prod__name Volkswagen Touareg
                        .prod__price от $33000
                        .prod__img
                            img(src="img/prod/volkswagentouareg.jpg", alt="volkswagentouareg")
                        .prod__har
                            .prod__har-item
                                .prod__title Объем  двигателя
                                .prod__text 3.0
                            .prod__har-item
                                .prod__title Коробка  передач
                                .prod__text Автомат
                            .prod__har-item
                                .prod__title Вид  топлива
                                .prod__text Дизель 