section.how
    .wrap
        .title.title--center Как мы это делаем
        .how__items
            .how__item
                .how__num 01
                .how__text Получаем вашу <br> заявку
            .how__item
                .how__num 02
                .how__text Договариваемся с вами <br> о встрече 
            .how__item
                .how__num 03
                .how__text Определяем наши цели, бюджет и страну, где будем искать автомобиль
            .how__item
                .how__num 04
                .how__text Подписываем <br> с вами договор
        .how__body
            .how__block
                .how__pic.how__pic--ua
                    img(src="img/how-toyota-ua.png", alt="toyota")
                .how__title Если выбираем авто в Украине
                ul.how__lists
                    li
                        span 05
                        .how__list Подбираем варианты автомобилей согласно требованиям и бюджету
                    li
                        span 06
                        .how__list Согласовываем с вами и выбираем один
                    li
                        span 07
                        .how__list Проверяем юридическую чистоту
                    li
                        span 08
                        .how__list Совершаем выездную проверку
                    li
                        span 09
                        .how__list Делаем фотоотчет и заключение после осмотра
                    li
                        span 10
                        .how__list Проверяем техническое состояние на СТО
                    li
                        span 11
                        .how__list Проводим торг с продавцом и выигрываем для вас лучшую цену
                    li
                        span 12
                        .how__list Сопровождаем при регистрации автомобиля
                    //- li
                    //-     span 13
                    //-     .how__list Дарим подарок от компании по завершению сделки
                    //- li
                    //-     span 14
                    //-     .how__list Подключаем вас в чат Telegram, где вы получаете от нас полную поддержку по дальнейшей эксплуатации и обслуживанию авто 
            .how__block
                .how__pic
                    img(src="img/how-hyundai-other.png", alt="hyundai")
                .how__title Если выбираем авто в США, Европе или Канаде
                ul.how__lists
                    li
                        span 05
                        .how__list Подбираем варианты автомобилей согласно требованиям и бюджету
                    li
                        span 06
                        .how__list Согласовываем с вами и выбираем один для участия в аукционе
                    li
                        span 07
                        .how__list Проверяем юридическую чистоту
                    li
                        span 08
                        .how__list Делаем сводку по эксплуатации (не участвовал ли он в торгах ранее, сколько было владельцев, бывал ли в других ДТП и т.д.)
                    li
                        span 09
                        .how__list Принимаем участие в торгах в рамках бюджета
                    li
                        span 10
                        .how__list Оплачиваем автомобиль
                    li
                        span 11
                        .how__list Оформляем отправку в Украину
                    li
                        span 12
                        .how__list Принимаем авто на таможне и проверяем
                    li
                        span 13
                        .how__list Сопровождаем при регистрации автомобиля
                    //- li
                    //-     span 14
                    //-     .how__list Дарим подарок от компании по завершению сделки
                    //- li
                    //-     span 15
                    //-     .how__list Подключаем вас в чат Telegram, где вы получаете от нас полную поддержку по дальнейшей эксплуатации и обслуживанию авто