section.why
    .wrap
        .why__body
            .why__advantages
                .title.title--white Почему вам стоит работать с нами? 
                .why__items
                    .why__item
                        .why__title Экономим ваше время 
                        .why__text Вам не нужно учиться выбирать автомобили, мы все сделаем сами. От вас потребуется только одобрять или отклонять предложенные нами варианты
                    .why__item
                        .why__title Сохраняем ваши деньги 
                        .why__text Как правило, работая с нами вы экономите больше, чем стоят наши услуги. Мы сохраним больше ваших денег на подборе вариантов и торгах 
                    .why__item
                        .why__title Учитываем то, что другие даже не замечают 
                        .why__text При подборе автомобиля обращаем внимание на специфические факторы исходя из своего опыта и знаний
                    .why__item
                        .why__title Бережем ваши ресурсы и нервы 
                        .why__text Вам не понадобится ездить на осмотры, проверки на СТО или торги — мы все делаем за вас
            .why__garanty
                .title.title--white Мы даем финансовую гарантию закрепленную в договоре
                .why__about Если в течение 30 дней после покупки автомобиля с ним случаются поломки, которые мы не предвидели, — 
                    span возвращаем 100% оплату наших услуг
                a(href="#consult").scroll-to.btn.btn--white Хочу авто