head
	meta(charset='UTF-8')
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	//- meta(name="keywords" content="Теги сайта")
	meta(name="description" content="Купить Авто из США ✅в наличии в Украине ✅ с растаможкой, на Номерах. Каталог БУ Автомобилей в Америке и Украине ✅Цены под ключ от 6500$ На Аукционе Выбор из 200.000 Авто")
	//- meta(name="author" lang="ru" content="Helen Portna")

	//- link(rel="shortcut icon" href="img/favicon.png")

	link(rel="stylesheet" href="css/main.min.css")

	title Подбор с площадок США и Украины в ✅Наличии в Украине с  Растаможкой | AutoRealtor 
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);	})(window,document,'script','dataLayer','GTM-KB62ZTH');</script>
	<!-- End Google Tag Manager -->